*{
    box-sizing: border-box;
}
body{
    background-color: white;
}
h1{
    color: black;
    text-align: center;
    margin: 100px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
section{
    position: relative;
    padding: 15px;
    width: 100%;
}
p {
    position: relative;
    clear: right;
}
div {
    position: relative;
    background-color: yellow;
    border: 1px solid black;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}
.first{
    float: right;
    width: 100px;
    font-size: 125%;
    font-weight: bold;
    padding: 6px;
    border: 1px solid black;
    background-color: green;
    text-align: center;
    margin: 0px;
}
.second{
    float: right;
    color: white;
    width: 100px;
    padding: 5px;
    margin: 0px;
    border: 1px solid black;
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    background-color: blue;
}
.third{
    float: right;
    width: 100px;
    padding: 5px;
    margin: 0px;
    color: brown;
    border: 1px solid black;
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    background-color: pink;
}
.notes{
    padding: 5px;
    border: none;
    background-color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    height: 200px;
    overflow: auto;

}
    /* for desktops */
@media (min-width: 992px) {
    .one1 {
        float: left;
        width: 33.33%;
    }
}
/* for tablets */
@media (min-width: 768px) and (max-width: 991px) {
    .two2 {
        float: left;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .four4 {
        float: left;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}
/* for mobile devices */
@media (max-width: 767px) {
    .three3 {
        float: left;
        width: 100%;
    }
}
